.octagon {
    /*position: relative;*/
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
}

.octagon rect {
    font-size: 36.42136px;
    stroke-width: 58.57864px;
    stroke-linejoin: bevel;
    /*stroke: white;*/
    transform: translate(29.28932px, 29.28932px);
}

.octagon .tiles-border {
    font-size: 42.42136px;
    stroke-width: 50.57864px;
    stroke-linejoin: bevel;
    transform: translate(0.28932px, 0.28932px);
}

.tiles {
    margin-right: 58.57864px;
    /*border: solid 2px black;*/
}